/* Imported Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&family=Spartan:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

html,
body,
#root {
  width: 100%;
  margin: 0;
  background-color: white;
  z-index: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  position: relative;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.644);
}

/* home select */
.select {
  background: url("images/head_background.jpg") no-repeat center;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.select .grid-box {
  padding: 0 30px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  max-width: 1050px;
  gap: 1vw;
}
.select .grid-box div {
  cursor: pointer;
  padding-top: 85.3%;
  background-color: rgba(0, 0, 0, 0.459);
  animation: expand 1s ease-out;
  z-index: 120;
  transition: background-color 0.3s;
  position: relative;
}
.select .grid-box div img {
  opacity: 0.7;
  position: absolute;
  display: block;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.6);
  transition: transform 0.3s;
}
.select .grid-box div:hover img {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0.65);
  transition: all 0.3s;
}
.select .grid-box div:hover {
  background-color: rgb(0, 96, 126);
  transition: background-color 0.3s;
}
.select .grid-box:hover > *:not(:hover) {
  background-color: rgba(0, 0, 0, 0.192);
  transition: background-color 0.3s;
}
.author {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  bottom: 0;
  left: 50%;
  width: fit-content;
  transform: translateX(-50%);
  padding: 2px;
  color: white;
  position: fixed;
  font-size: 0.7rem;
  z-index: 1000;
}
@keyframes expand {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.select .cur-sel {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 52, 97, 0.425) 100%
  );
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Navbar and Intro Page */
.head-bg {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("images/head_background.jpg") no-repeat center;
  background-size: cover;
  top: 0;
  left: 0;
}
.head {
  position: relative;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 52, 97, 0.425) 100%
  );
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.head .logo {
  cursor: pointer;
  display: block;
  align-self: flex-start;
  width: 100px;
  margin: 30px;
  margin-right: auto;
  z-index: 1000;
  animation: logo-anim 0.8s;
}

@keyframes logo-anim {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.head .intro {
  box-sizing: border-box;
  color: white;
  display: grid;
  width: 100%;
  align-items: center;
  margin: auto;
  padding: 0 50px;
}
.head .intro h1 {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 900;
  letter-spacing: 4px;
  line-height: calc(35px + (80 - 35) * ((100vw - 300px) / (1920 - 300)));
  font-size: calc(30px + (80 - 30) * ((100vw - 300px) / (1920 - 300)));
  font-family: "Open Sans", sans-serif;
  animation: slideIn 1.3s;
  height: fit-content;
}
.head .intro h1:nth-child(2) {
  margin: 0;
}
.head .intro p {
  position: relative;
  font-family: "Open Sans", sans-serif;
  padding: 20px;
  color: rgb(0, 162, 211);
  font-weight: 600;
  width: 60%;
  font-size: calc(10px + (20 - 10) * ((100vw - 300px) / (1920 - 300)));
  animation: slideIn 1.4s;
  border-left: 3px solid rgb(0, 162, 211);
}
.head .intro .typewriter {
  box-sizing: border-box;
  width: fit-content;
}
.head .intro .typewriter p {
  box-sizing: border-box;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end) infinite;
}

/* The typing effect */
@keyframes typing {
  0% {
    width: 0;
  }
  25%,
  75% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
.head .intro div.link {
  grid-row: 5;
  animation: slideIn 1s;
}
.head .intro button {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: rgb(0, 162, 211);
  font-weight: 700;
  background-color: transparent;
  border: none;
  margin: 20px;
  width: 150px;
  height: 48px;
  margin-right: auto;
  border-radius: 500px;
  border: 2px solid rgb(0, 162, 211);
  transition: background-color 0.3s, color 0.3s;
  z-index: 10;
}
.head .intro div.link a {
  padding: 0;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(0, 162, 211);
  transition: color 0.3s;
}
.head .intro div.link button:hover a {
  color: white;
  transition: all 0.3s;
}
.head .intro button:hover {
  color: white;
  background-color: rgb(0, 162, 211);
  transition: all 0.3s;
}
.head .intro button:active,
.head .intro button:focus {
  outline: none;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.about {
  margin: 100px 0;
  padding: 0 20px;
  background-color: white;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
}

.about > section {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.about > section img {
  display: block;
  width: 100%;
  max-width: 300px;
}
.about > section article {
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  text-align: center;
}
.about > section h1 {
  box-sizing: border-box;
  font-size: 80px;
  margin: 0;
  
}
.about > section p {
  margin: 0;
  font-weight: 500;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 32px;
  text-align: left;
}
#about-top {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: black;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url("images/about-bg.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
}
#about-top div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 0;
}
section#about-top h1 {
  cursor: default;
  color: rgba(255, 255, 255, 0.664);
  position: relative;
  z-index: 1;
  font-size: calc(50px + (300 - 50) * ((100vw - 300px) / (1920 - 300)));
  animation: slideIn 1s;
}

 .close {
  font-family: "Open Sans", sans-serif;
  color:white;
  opacity: 1;
  cursor: pointer;
  display: block;
  position: absolute;
  font-size: 20px;
  top: 0;
  left: 0;
  margin: 1% 2%;
  padding: 0.5%;
  height: fit-content;
  width: fit-content;
  z-index: 1000;
  background-color: transparent;
}
 .close i {
  margin: 0 10px;
  transition: all 0.3s;
}
 .close:hover i {
  transform: translateX(-5px);
  transition: all 0.3s;
}

#about-top .down:hover {
  color: white;
  background-color: rgb(0, 162, 211);
  transition: all 0.5s;
}

/* side nav */
nav.side {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: fixed;
  top: 50%;
  left: 0;
  margin: 0;
  margin-right: 10px;
  height: fit-content;
  transform: translateY(-50%);
  z-index: 1000;
  animation: slide-in 1s;
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translate(-100%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(0, -50%);
  }
}
nav.side a {
  padding: 0;
  display: block;
  text-decoration: none;
  position: relative;
  background-color: white;
  margin: 3vh 15px;
  width: 20px;
  height: 3px;
}
.pg-menu {
  position: fixed;
  z-index: 30;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  font-size: 14px;
}
.pg-menu div {
  font-weight: 700;
  color: white;
  margin: 0 5px;
  padding: 30px 12px;
  letter-spacing: 2px;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  transition: transform 0.5s;
}

.pg-menu div:hover {
  transform: scale(1.05);
  transition: all 0.5s;
}
.pg-menu div:hover::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  background-color: white;
  height: 1px;
  animation: navAnim 0.5s;
}
.pg-menu .pg-1 {
  color: rgb(0, 162, 211);
  justify-self: end;
}
.pg-menu .pg-2 {
  justify-self: start;
}
@keyframes navAnim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* Body */
/* page 1 */

.contain-body {
  position: relative;
  margin: 0;
  padding: 10vh 0;
  background: rgb(255, 255, 255);
}
.contain-body .back {
  text-decoration: none;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  position: fixed;
  width: 40px;
  height: 40px;
  padding: 5px;
  bottom: 100px;
  left: 0;
  transform: translateX(50%);
  border-radius: 500px;
  opacity: 0.7;
  transition: opacity 0.5s;
  z-index: 100;
}
.contain-body .back:hover {
  opacity: 1;
  transition: all 0.5s;
}
.contain {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5vw;
  animation: fade-in 1s;
}
@keyframes fade-in {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.contain .contain-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5vw;
  row-gap: 1vw;
}
.contain .contain-grid .opt {
  box-sizing: border-box;
  opacity: 0;
  position: relative;
  width: 100%;
  padding-top: 64.3%;
  background-color: gray;
}
.contain .contain-grid .opt img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.contain .contain-grid .opt .link {
  opacity: 0;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.548);
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
}

.contain .contain-grid .opt .link a {
  color: rgba(255, 255, 255, 0.281);
  transition: all 0.5s;
}
.contain .contain-grid .opt .link div:nth-child(1) a {
  background: url("../images/myMinIcons/Viewicons.png") no-repeat center;
  background-size: contain;
  width: 90px;
  height: 45px;
  transition: all 0.5s;
}
.contain .contain-grid .opt .link div:nth-child(1) a:hover {
  transform: scale(2);
  transition: all 0.5s;
}
.contain .contain-grid .opt .link div:nth-child(1) {
  color: rgba(255, 255, 255, 0.082);
  position: absolute;
  top: 0;
  display: flex;
  height: 90%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 6vw;
}
.contain .contain-grid .opt .info {
  box-sizing: border-box;
  display: flex;
  padding: 0.5vw;
  transition: background-color 0.5s;
  color: black;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: fit-content;
  align-items: center;
  font-size: calc(10px + (13 - 10) * ((100vw - 300px) / (1600 - 300)));
  font-family: "Quicksand", sans-serif;
}
.contain .contain-grid .opt .info div:nth-child(1) {
  height: fit-content;
}
.contain .contain-grid .opt .info .priv {
  padding: 1px 5px;
  color: red;
  margin: 0;
  margin-left: auto;
  border-radius: 500px;
  font-size: calc(10px + (16 - 10) * ((100vw - 300px) / (1600 - 300)));
  transition: color 0.5s, background-color 0.5s;
}
.contain .contain-grid .opt .info a {
  padding: 5px 10px;
  color: black;
  text-decoration: none;
  margin: 0;
  margin-left: auto;
  border-radius: 500px;
  border: 1px solid black;
  font-size: calc(10px + (16 - 10) * ((100vw - 300px) / (1600 - 300)));
  transition: color 0.5s, background-color 0.5s;
}
.contain .contain-grid .opt .info a:hover {
  background-color: black;
  color: white;
  transition: all 0.5s;
}
.contain .contain-grid .opt:hover .info {
  background-color: white;
  transition: all 0.5s;
}
.contain .contain-grid .opt:hover .link {
  opacity: 1;
  transition: opacity 0.5s;
}

/* page-2 */
.contain .obj {
  margin: auto;
  max-width: 1024px;
  text-align: center;
  font-family: "Work Sans", sans-serif;
}
.contain > img {
  display: block;
  margin: 50px auto 70px;
  align-self: center;
  max-width: calc(1920px * 0.3);
}
.contain .obj h1 {
  font-size: 36.8px;
  margin-bottom: 50px;
  font-weight: 800;
}
.contain .obj p {
  font-size: 15px;
}
.contain .obj p > a {
  text-decoration: none;
  color: rgb(0, 162, 211);
}
.contain .obj p > a:hover {
  text-decoration: underline;
}
.contain form {
  box-sizing: border-box;
  margin: 50px auto 20px;
  width: 768px;
  padding: 5px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.contain form input {
  box-sizing: border-box;
  border-style: none;
  border-radius: 0;
  border: 1px solid black;
  background-color: transparent;
  font-size: 14px;
  padding: 5px 10px;
}
.contain form input:focus {
  outline: none;
}
.contain form .name,
.contain form .email,
.contain form .message {
  margin: 20px 0;
  box-sizing: border-box;
}
.contain form .name p {
  margin-bottom: 5px;
}
.contain form .name label {
  font-size: 12px;
}
.contain form .name input {
  height: 48px;
}
.contain form .name .min-grid {
  display: grid;
  width: 100%;
  gap: 4px;
  grid-template-columns: 1fr 1fr;
}
.contain form .name .min-grid div label,
.contain form .name .min-grid div input,
.contain form .email label,
.contain form .message label {
  width: 100%;
}
.contain form .email input {
  width: 100%;
  height: 48px;
}
.contain form .message textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 96px;
  padding: 5px 10px;
  background-color: transparent;
}
.contain form .message textarea:focus {
  outline: none;
}
.contain form button {
  cursor: pointer;
  color: black;
  border: 1px solid black;
  width: 100px;
  height: 50px;
  background-color: transparent;
  transition: color 0.3s, background-color 0.3s;
}
.contain form button:hover {
  background-color: black;
  color: white;
  transition: all 0.3s;
}
.contain form button:focus,
.contain form button:active {
  outline: none;
  border-radius: 0;
}

/* footer */
.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: white;
}
.footer a {
  margin: 5px 10px;
  color: rgba(0, 0, 0, 0.801);
  text-decoration: none;
  transition: transform 0.3s;
  letter-spacing: 2px;
  font-family: "Quicksand", sans-serif;
}
.footer a:hover {
  transform: scale(1.05);
  color: rgb(0, 162, 211);
  transition: all 0.3s;
}
@media screen and (max-width: 835px) {
  .about {
    margin: 70px 0;
    padding: 0 10px;
    grid-template-columns: 1fr;
    gap: 0.5vw;
  }
  
  .about > section {
    padding: 30px 0;
  }
  .about > section h1 {
    font-size: 40px;
  }
  .about > section p {
    font-size: 13px;
    line-height: 20px;
  }
}
/* Mobile */
@media screen and (max-width: 768px) {
  .select .grid-box {
    width: 30vh;
    grid-template-columns: 1fr;
  }
  .select .grid-box div {
    padding-top: 80.3%;
  }
  .author {
    font-size: 12px;
  }

  /* Navbar and Intro Page */
  .head .logo {
    width: 50px;
    margin: 10px;
    margin-top: 50px;
    margin-right: auto;
  }
  .pg-menu div {
    font-size: 12.8px;
    margin: 0;
    padding: 10px 8px;
  }

  .head .intro {
    padding: 0 10px;
  }
  .head .intro h1 {
    margin: 0;
  }
  .head .intro p {
    padding: 10px;
    margin: 0;
  }
  .head .intro button {
    font-weight: 500;
    font-size: 11.2px;
    margin: 20px 0;
    width: 90px;
    margin-right: 5px;
    height: 32px;
  }

  /* Body */
  /* page 1 */
  .contain-body .back {
    font-size: 16px;
    width: 25px;
    height: 25px;
    padding: 5px;
    bottom: 90px;
  }
  .contain {
    padding: 1vw;
  }
  .contain .contain-grid {
    grid-template-columns: 1fr;
  }
  .contain .contain-grid .opt {
    padding-top: 50.5%;
  }
  .contain .contain-grid .opt .info {
    background-color: white;
  }
  .contain .contain-grid .opt .link div:nth-child(1) {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
  .contain .contain-grid .opt .link div:nth-child(2) {
    height: 100%;
    font-size: 5vw;
  }
  .contain .contain-grid .opt .info a {
    padding: 1px 5px;
  }
  /* page 2 */
  .contain form {
    margin: auto;
    width: 90%;
  }
  .contain > img {
    display: block;
    align-self: center;
    max-width: 90vw;
  }


  .pg-menu div {
    font-size: 10px;
    margin: 0px 5px;
    letter-spacing: 1px;
  }

  /* footer Navbar*/
  .footer a,
  .pg-menu div {
    font-size: 10px;
    margin: 0px 5px;
    letter-spacing: 1px;
  }

  nav.side {
    bottom: 0;
    left: 50%;
    margin-right: 10px;
    transform: translate(-50%, 100%) rotate(270deg);
  }
  nav.side a {
    background-color: black;
    width: 10px;
    height: 2px;
  }
  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translate(-50%, 200%) rotate(270deg);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, 100%) rotate(270deg);
    }
  }
}

.click {
  box-sizing: border-box;
  position: absolute;
  border-radius: 50%;
  border: 2px solid rgb(1, 175, 255);
  width: 100px;
  height: 100px;
  transform: scale(0);
  z-index: 10000;
}
.click.animate {
  animation: anima 0.6s;
}
@keyframes anima {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

/* special  */
.come-in {
  transform: translateY(150px);
  animation: come-in 1s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.9s; /* So they look staggered */
}

@keyframes come-in {
  to {
    transform: translateY(0);
  }
}

.transition {
  background-color: rgb(0, 162, 211);
  animation: expand-1 1s;
  transform: scaleY(0.005);
}
@keyframes expand-1 {
  0% {
    width: 0;
  }
  25% {
    width: 100%;
    transform: scaleY(0.005);
  }
  75% {
    width: 100%;
    transform: scaleY(1);
  }
  100% {
    width: 100%;
    transform: scaleY(1);
  }
}
